/*============================================================
  BASE STYLES
============================================================*/

* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #f5f3f4;
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/*============================================================
  UTILS
============================================================*/

.container { 
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1000px) { .container { flex-direction: row; } }

/*============================================================
  FONTS
============================================================*/

h1 { font-size: 2em; }

/*============================================================
  TITLE
============================================================*/

.title { 
    margin: auto;
    padding: 3em 0;
    text-align: center;
}

.title h1, .title-emphasis { color: hsl(234, 12%, 34%); }

.title h1 { font-weight: 200; }

.title .title-emphasis { 
    font-weight: 600;
    padding-bottom: 0.5em;
}

@media (min-width: 700px) {
  .title { width: 35em; }
}

/*============================================================
  BOX
============================================================*/

.box, .box-middle-container { display: flex; }

.box, .box-middle-container { flex-direction: column; }

.box-middle-container { justify-content: space-around; }

.box { 
    align-items: flex-end;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 12em;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5em;
    -webkit-box-shadow: 2px 4px 8px 1px rgba(76,78,97,0.39); 
    box-shadow: 2px 4px 8px 1px rgba(76,78,97,0.39);
}

.box .box-name { color: hsl(234, 12%, 34%); }

.box-supervisor { border-top: 5px solid hsl(180, 62%, 55%);}
.box-team { border-top: 5px solid hsl(0, 78%, 62%);}
.box-karma { border-top: 5px solid hsl(34, 97%, 64%);}
.box-calculator { border-top: 5px solid hsl(212, 86%, 64%);}

@media (min-width: 700px) { 

    .box { width: 23em; }

    .box-middle-container { flex-direction: row; } 

    .box-middle-container .box-team, .box-middle-container .box-karma { width: 18em; }

}

@media (min-width: 1000px) { 
    
    .box-middle-container .box-team, .box-middle-container .box-karma { width: 23em; }

    .box-middle-container { flex-direction: column; }

}
