/********** GENERIC **********/

* {
    margin: 0;
    padding: 0;
}

body { 
    background-color: #f5f3f4;
    color: hsl(229, 6%, 66%);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
}

/********** REPETETIVE **********/

.title, .title-emphasis, .box-name { color: hsl(234, 12%, 34%); }

.flex-container, .box-middle-container, .box { display: flex; }

.box-middle-container, .box { flex-direction: column; }

/********** CONTAINERS **********/

.title-container { 
    margin: auto;
    padding: 3em 0;
    text-align: center;
    width: 35em;
}

.flex-container { 
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.box-middle-container { justify-content: space-around; }

/********** TITLE ***********/

.title, .title-emphasis { font-size: 2em; }

.title { font-weight: 200; }

.title-emphasis { 
    font-weight: 600;
    padding-bottom: 0.5em;
}

/********** BOX **********/

.box { 
    align-items: flex-end;
    background-color: #FFFFFF;
    border-radius: 5px;
    height: 12em;
    justify-content: space-between;
    margin: 1em;
    padding: 1.5em;
    width: 23em;
    -webkit-box-shadow: 2px 4px 8px 1px rgba(76,78,97,0.39); 
    box-shadow: 2px 4px 8px 1px rgba(76,78,97,0.39);
 }

.box-supervisor { border-top: 5px solid hsl(180, 62%, 55%);}
.box-team { border-top: 5px solid hsl(0, 78%, 62%);}
.box-karma { border-top: 5px solid hsl(34, 97%, 64%);}
.box-calculator { border-top: 5px solid hsl(212, 86%, 64%);}
