@import "reset.css";

/* =========================================================
   BASE STYLES 
========================================================= */

html { font-size: 62.5%; }

body { 
    font-size: 1.6rem;
}

/* =========================================================
   HEADINGS 
========================================================= */

h1, h2, h3, h4, h5, h6 { font-weight: 700; }

h1 { font-size: 40px; }

h2 { font-size: 36px;}

h3 { font-size: 32px; }

h4 { font-size: 28px; }

h5 { font-size: 24px; }

h6 { font-size: 20px; }
